@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../images/backgrond2.jpeg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
   
  
}
.jumbotron{
    color: white;   
}
.gold-words{
    color: gold;
}

/*Style the compute Akwasi name button*/
.compute{
    margin-left: 20%;
    border: 0%;
    padding:5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    
    
    
}
.form-check-label{
    margin-left: 5%;
}

/*Adding media queries to make the website responsive*/
@media(min-width:480px) and (max-width:767px){
   .col{
       float: left;
       width: 220px;
       padding: 15px;
   }
}
